hoist=false
public-hoist-pattern[]=*@biomejs/biome*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=turbo
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
prefer-workspace-packages=true
